* {
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
.navbar-img {
  width: 40px;
  height: 40px;
}
.img-container{
  height: 55px;
  width: 55px;
}
.navbar .btn,
.navbar .btn:hover,
.navbar .btn:first-child:active {
  background-color: var(--color-violet-600);
  font-size: var(--text-sm);
  transition: all 0.2s;
}
.navbar .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 15px var(--color-fuchsia-200);
}
.navbar-nav li:hover {
  background-color: var(--color-gray-200);
  color: var(--color-gray-900);
  cursor: pointer;
}
#userWindow {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100vh;
  padding: 1px;
  backdrop-filter: blur(4px);
  background-color: rgba(8, 6, 6, 0.552);
  z-index: 1000000;
}
.user-data-container {
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  height: 90vh;
  width: 550px;
  overflow-y: scroll;
}
select:optional {
  color: var(--color-gray-600);
}
.user-data-container input,
.user-data-container select,
.user-data-container textarea {
  background-color: var(--color-gray-100);
}
.user-data-container select,
.check-input-style input,
.check-input-style label,
.img-select {
  cursor: pointer;
}
.user-data-container .form-control:focus,
.user-data-container .form-select:focus,
section .form-control:focus {
  border-color: blueviolet;
  box-shadow: 0 0 0 0.15rem var(--color-violet-200);
}

.user-data-container .buttons .btn-save,
.user-data-container .buttons .btn-save:active,
.user-data-container .buttons .btn-update {
  background-color: var(--color-violet-600);
}
.user-data-container .buttons .btn-cancel,
.user-data-container .buttons .btn-cancel:active {
  background-color: var(--color-gray-100);

  border: none;
}

.user-data-container .buttons .btn-cancel:hover {
  background-color: var(--color-gray-200);
}
@media screen and (max-width: 700px) {
  .user-data-container {
    width: 90%;
  }
}
.img-select:hover {
  background-color: var(--color-gray-300);
}
.check-input-style input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.section-right-part {
  border-radius: 15px 15px 0px 0px;
}
.contsct-img {
  width: 45px;
  height: 45px;
}
.heart-pulse,
.star-icon {
  font-size: 8px;
}
.heart-pulse {
  right: -1px;
  top: -2px;
}
.star-icon {
  right: -2px;
  bottom: -1px;
}
.trash-icon:hover {
  background-color: var(--color-rose-100);
  color: var(--color-red-600);
}
.pen-icon:hover {
  background-color: var(--color-blue-100);
  color: var(--color-blue-600);
}
.heart-icon:hover {
  background-color: var(--color-gray-200);
  color: var(--color-red-600);
}
.star-icon:hover {
  background-color: var(--color-gray-200);
  color: var(--color-amber-500);
}
.star-icon2 {
  background-color: var(--color-amber-100);
  color: var(--color-amber-400);
}
#userIconImg{
  width:120px ;
  height: 120px;
}